{{>header}}
{{>navbar}}
<section class="container my-4">
    <h4 class="text-primary">single Users</h4>
    {{#unless user}}
    <div class="alert alert-danger">
        No Users found
    </div>
    {{else}}
    <table class="table table-stripped">
        <tr>
            <td colspan="2">Id: {{user._id}}</td>
        </tr>
        <tr>
            <td>Name: {{user.name}}</td>
            <td>Age: {{user.age}}</td>
        </tr>
        <tr>
            <td>email: {{user.email}}</td>
            <td>password: {{user.password}}</td>
        </tr>
    </table>
    <h4>Addresses</h4>
    <table class="table table-borderd">
        <thead>
            <tr>
                <th>addr type</th>
                <th>addr Details</th>
            </tr>
        </thead>
        <tbody>
            {{#unless user.addresses.length}}
            <tr class="alert alert-danger">
                <td colspan="2" class="text-center">no addresses ye</td>
            </tr>
            {{else}}
            {{#each user.addresses}}
            <tr>
                <td>{{this.addressType}}</td>
                <td>{{this.addressDetails}}</td>
                <td>
                    <a href="/addr/{{this._id}}" class="btn btn-primary">Show</a>
                    <a href="/editAddr/{{this.userId}}/{{this.id}}" class="btn btn-warining">Edit</a>
                    <a href="/delAddr/{{this.userId}}/{{this.id}}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {{/each}}
            {{/unless}}
        </tbody>
    </table>
    {{/unless}}
</section>
{{>footer}}